* {
    box-sizing: border-box
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.color {
    background: lightblue;

}
a {
    text-decoration: none;
    color: black;
}
nav > div{
    margin: 1em;
    white-space: nowrap;
}

#ddStyle {
    width: 25%;
}

nav > div {
    justify-content: space-between;
    display: flex;
}


.button{
    border:solid black 2px;
    padding: 0.3em;
    margin: 0;
    background-color: lightgrey;
    text-align: center;
    box-shadow: 3px 3px 5px grey;
}

.button:hover {
    box-shadow: 3px 3px 5px black;
    background-color: grey
}

.toggle:checked + label {
    box-shadow: 3px 3px 5px black;
    background-color: grey
}
#sortButtons {

    margin: 0;
    padding: 0;
}




#notes{
    margin: 1em;/*10px;*/
}
#notes > ul {
    padding: 0;
}

.noteElement{
    display:flex;
    justify-content: space-between;
}

.noteInfo   {
    display:flex;
    width: 90%;
}

.noteBody {
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    flex-grow: 1;
    padding: 1em;
}

.noteBody > div:first-child{
    display:flex;
    justify-content: space-between;
}

.noteHeader {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 25%;
    padding: 1em;
    white-space: nowrap;

}

.noteHeader > div:last-child{
    margin-top: 1em; /*10px;*/
}
.noteEdit{
    display: flex;
    width: 10%;
    /*border: green solid;*/
    flex-direction: column;
    padding: 1em; /*10px;*/
    justify-content: space-around;
}

.description {
    border: solid;
    border-width: 0.1em;
}



/* edit page*/


.editFields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0.3em; /*10px;*/
}

.editFields > div > * {
    margin: 0.3em; /* 10px;*/

}

.editFields div:nth-child(odd) {
    flex-basis: 20%;
    min-width: 100px;
    display: flex;
    align-items: center;
}


.editFields div:nth-child(even) {
    flex-basis: 80%;
    display:flex;
}
.editFields div:nth-child(even) > :first-child {
    flex-basis: 80%;
}
.editFields div:nth-last-child(3) {
    /*flex-basis: 100%;*/
    flex: 1;
    background: blue;
    justify-content: center;
}

#btnsubmit {

    width: 100%;
    display:flex;
}
.editFields div:last-child {
    flex-basis: auto;
}

.editFields .button {
    margin: 0.3em;
}

textarea {
    height: 200px;
}

/* Rating System*/

#ratingSystem {
    border: none;
    flex-basis: auto;
}
#ratingSystem > input {
    display: none;
}


#ratingSystem > label {
    font-size:2em;
    font-weight: bold;
    color: orange;
    /*float: right; /* muss gekehrt werden, damit die nachfolgenden Elemente entsprechend gelabelt werden können*/
}

#ratingSystem > input:checked ~ input + label {
    color: gray;
}
/*
#ratingSystem > input:checked ~ label /* show gold star when clicked (for all labels)*/
/*{color: orange;}
*/

.toggle {
    display: none;
}
.noteImportance {
    font-size:2em;
    font-weight: bold;
    color: orange;
}